FABRIC_TEST_DRIVER=ODBC Driver 18 for SQL Server
FABRIC_TEST_ENDPOINT=random-string.datawarehouse.fabric.microsoft.com
FABRIC_TEST_DWH_NAME=dwhname
# Extra users in your data warehouse to run authorization & grant tests with
DBT_TEST_USER_1=dbo
DBT_TEST_USER_2=dbo
DBT_TEST_USER_3=dbo
# An alternative data warehouse with a case-insensitive collation
FABRIC_TEST_DWH_CI_NAME=dwhname-ci
FABRIC_TEST_THREADS=20