---
name: Release new version

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - 'v*'

jobs:
  release-version:
    name: Release new version
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools>=61 wheel build twine
          pip install -r dev_requirements.txt

      - name: Verify version match
        run: python setup.py verify

      - name: Initialize .pypirc
        run: |
          echo -e "[pypi]" >> ~/.pypirc
          echo -e "username = __token__" >> ~/.pypirc
          echo -e "password = ${{ secrets.PYPI_DBT_FABRIC }}" >> ~/.pypirc

      - name: Build and publish package
        working-directory: ./dbt-fabric
        run: |
          rm -rf dist build *.egg-info
          python -m build
          twine upload dist/*
